input {
  border: none;
  outline: none;
  }

.mainSection{
  background-color: #ffeb55b8;
}
.centerPosition{
  text-align: center;
}
.btn{
  display: inline-block;
  text-align: center;
  user-select: none;
  padding: 8px 100px;
  font-size: 15px;
  border-radius: 10px;
  margin: 5px;
}
.btn_green{
  background-color: #adf522a6;
}
.filed_size{
  width: 250px;
}
/*padding*/
.pad_20{
  padding: 20px;
}
